<%- include('partials/header') %>

<main>
    <div class="homepage">
        <div class="container-image">
            <img src="images/logo-2.jpeg" class="logo-img" alt="logo image"/>
        </div>
        <h1 class="home-header">RecipeShare</h1>
        <h3 class="home-cta">"Cook, Share, Delight: Your Ultimate Recipe Destination"</h3>
        <form method="post" action="/">
            <div class="home-btns" class="homepage">
                <button type="submit" name="submitBtn" value="register">Register</button>
                <button type="submit" name="submitBtn" value="login">Login</button>
            </div>
        </form>
    </div>
</main>

<%- include('partials/footer') %>