<%- include('partials/header') %>

<div class="recipe-listing-page">
  <section class="jumbotron text-center">
    <div class="container recipe-header">
      <h1>Discover Delicious Recipes for Every Taste</h1>
      <p>
        Explore our delicious collection of recipes featuring a range of flavors
        and cuisines. From quick and easy weeknight dinners to showstopping
        dishes for special occasions, we've got something for every taste and
        skill level. Start browsing now and discover your next favorite recipe!
      </p>
    </div>
  </section>
  <div class="recipe-listing container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-3">
      <div>
        <div class="card recipe-card">
          <img
            src="images/login-logo.jpeg"
            class="card-img-top recipe-image"
            alt="recipe image"
          />
          <div class="card-body">
            <h5 class="card-title">
              <strong>Grilled Lemon-Pepper Chicken</strong>
            </h5>
            <p class="card-text">
              This flavorful chicken dish is perfect for summer grilling. The
              chicken breasts are seasoned with zesty lemon and spicy black
              pepper, then grilled to juicy perfection. Serve it alongside your
              favorite grilled vegetables for a healthy and delicious meal.
            </p>
            <form method="post" action="/recipe">
              <button
                type="submit"
                class="btn btn-outline-dark"
                name="viewRecipe"
                value="random"
              >
                VIEW
              </button>
              <button
                type="submit"
                class="btn btn-outline-dark"
                name="upvoteRecipe"
                value="upvote"
              >
                ♥ LIKE
              </button>
            </form>
          </div>
          <div class="card-footer">
            <div>
              <small class="text-body-secondary">Posted by: Alex</small>
              <small class="text-body-secondary">(Created date here)</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/dynamic-footer') %>
