* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* Header */

.navbar {
    margin: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
    font-weight: 600;
}


.brand {
    display: flex;
    align-items: center; 
    text-decoration: underline;
}

.brand img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: solid 1px white;
}


.nav-item {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    color: black
}

/* Footer */

#footer {
    color: rgb(241, 239, 239);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

/* Home Page */
.homepage {
    width: 50%;
    margin: 9.375rem auto 0;
}

.container-image {
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 auto;
    overflow:hidden;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    border: solid white
}

.home-header, .home-cta {
    text-align: center;
    color: white;
}

.home-btns {
    text-align: center;
    align-items: center;
}

.home-btns button {
    margin: .625rem;
}

/* Register Page */
.register-logo {
    height: 125px;
}

.register-form {
    width: 25%;
    margin: 125px auto;
    text-align: center;
    color: white;
}

.register-form input {
    width: 65%;
    margin: 0 auto;
}

.register-form input:first-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.register-form input:last-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.register-btn {
    margin: 15px 0;
}