* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* Home Page */
.homepage {
    width: 50%;
    margin: 12.5rem auto 0;
}

.container-image {
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 auto;
    overflow:hidden;

}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.home-header, .home-cta {
    text-align: center;
    color: white;
}

.home-btns {
    text-align: center;
    align-items: center;
}